html {
  margin: 0px;
  padding: 0px;

  height: "50%";
}

.header {
  text-align: center;
  margin-bottom: 10px;
  padding: 30px;

  background-color: rgb(255, 244, 221);
}

.menu {
  display: inline;
}

.hr1,
.hr2 {
  display: inline;
  margin-right: 5px;

  padding: 3px;

  font-family: Arial Narrow, sans-serif;
}

.menu-button {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.menu-icon {
  position: absolute;
  top: 35px;
}

.menu-icon:active {
  padding: 2px;
  /* border: 1px solid black; */
  width: 35px;
  height: 5px;
}

.logo {
  text-align: left;
}

.logo-picture {
  position: absolute;
  top: 20px;
  width: 75px;
  height: 75px;

  border-radius: 15px;
}

@media (max-width: 600px) {
  .header {
    background-color: transparent;
  }

  .menu {
    display: none;
  }

  .logo {
    display: none;
  }
  .hr1,
  .hr2 {
    font-size: 45px;
    display: block;
  }

  .menu-button {
    display: block;
  }
}

@media (min-width: 600px) {
  .menu-button {
    display: none;
  }
}

/* @media (max-width: 370px) {
  
} */
