html {
  margin: 0px;
  padding: 0px;
}

.head {
  text-align: center;
  margin-bottom: 100px;
  padding: 30px;
  padding-bottom: 5px;
  background-color: rgb(255, 244, 221);
}

.hr {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */

  padding: 3px; /* Поля вокруг текста */

  font-family: Arial Narrow, sans-serif;
}

.logo {
  text-align: left;
}

.logo-picture {
  position: absolute;
  top: 20px;
  width: 75px;
  height: 75px;
  /* padding-left: 10px; */

  border-radius: 15px;
}

.logo-picture2 {
  position: absolute;

  top: 20px;
  width: 75px;
  height: 75px;
}
