html {
  margin: 0px;
  padding: 0px;

  height: "50%";
  background-color: rgb(58, 58, 58);
}

.header {
  text-align: center;
  margin-bottom: 10px;
  padding: 30px;
  color: white;

  background-color: rgb(0, 0, 0);
}

.menu {
  display: inline;
}

.hr1,
.hr2 {
  display: inline;
  margin-right: 5px;

  padding: 3px;

  font-family: Arial Narrow, sans-serif;
}

.menu-button {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.menu-icon {
  position: absolute;
  top: 35px;
}

.menu-icon:active {
  padding: 2px;

  width: 35px;
  height: 5px;
}

.close-icon {
  /* display: none; */
  position: absolute;
  top: 32px;
  right: 11%;
  font-family: sans-serif;
  font-size: 40px;
}

.logo {
  text-align: left;
}

.logo-picture {
  position: absolute;
  top: 20px;
  width: 75px;
  height: 75px;

  border-radius: 15px;
}

.ip {
  position: absolute;
  font-family: Arial Narrow, sans-serif;
  font-size: 32px;
  display: inline;
  text-align: right;
  right: 3%;
}

.ip:hover {
  cursor: pointer;
}

.ip:active {
  color: blue;
}

@media (max-width: 600px) {
  .header {
    background-color: transparent;
  }

  .menu {
    display: none;
  }

  .logo {
    display: none;
  }
  .hr1,
  .hr2 {
    font-size: 45px;
    display: block;
  }

  .menu-button {
    display: block;
  }
}

@media (min-width: 600px) {
  .menu-button {
    display: none;
  }
  .close-icon {
    display: none;
  }
}

@media (max-width: 1000px) {
  .ip {
    position: relative;
    font-family: Arial Narrow, sans-serif;
    font-size: 25px;
    display: inline;
    text-align: left;
  }

  .close-icon {
    display: none;
  }
}

@media (max-width: 840px) {
  .logo {
    display: none;
  }
}
